*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 50vw;
    height:40vw;
    background-color: rgb(255, 255, 255);
}